.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 2rem 0;

  .detailsVideo {
    display: flex;
    justify-content: space-between;

    input {
      background: #ddd;
      width: 50%;
      padding: 0.6rem;
      border-radius: 5px;
      border: 0;
      outline: 0;

      &::placeholder {
        color: var(--gray-100);
        font-size: 1rem;
      }
    }

    button {
      background: var(--black-800);
      color: var(--white);
      padding: 0.7rem 0.8rem;
      border-radius: 5px;
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .divisor {
    border-top: 2px dashed #ccc;
    margin: 25px 0;
  }

  .embedVideo {
    margin-top: 3rem;
    height: 60vh;

    .player {
      max-width: 800px;
      width: 100% !important;
      z-index: 0;
      position: relative;
      margin: 0 auto;
      margin-bottom: 2rem;

      .insideVideoButton {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        .button {
          padding: 0 !important;
        }

        .buttonSize {
          height: fit-content;
          z-index: 99;
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
      }

      .startTop {
        justify-content: start;
      }
      .centerTop {
        justify-content: center;
      }
      .endTop {
        justify-content: end;
      }
      .startCenter {
        align-items: center;
      }
      .centerCenter {
        align-items: center;
        justify-content: center;
      }
      .endCenter {
        align-items: center;
        justify-content: end;
      }
      .startBottom {
        align-items: end;
      }
      .centerBottom {
        align-items: end;
        justify-content: center;
      }
      .endBottom {
        align-items: end;
        justify-content: end;
      }
    }

    .buttonVideo {
      display: flex;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 8px;
      }
    }
  }
}
