.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 2rem 0;

  .detailsVideo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--gray-100);
      font-size: 1.1rem;
      font-weight: 700;
      padding-right: 0.7rem;
      text-decoration: underline;
    }

    .embedBtn {
      width: 40%;
      background: var(--black-800);
      color: var(--white);
      padding: 0.7rem 0.8rem;
      border-radius: 5px;
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      &:hover {
        opacity: 0.9;
      }
    }

    .videoName {
      display: flex;
      align-items: center;
      width: 100%;

      form {
        display: flex;
        align-items: center;
        max-width: 600px;
        width: 100%;

        input {
          width: 100%;
          background: none;
          border: none;
          border-bottom: 1px solid var(--gray-100);
          color: var(--gray-100);
          outline: none;
          font-weight: 600;
          font-size: 1.02rem;
        }

        button {
          background: var(--pink-800);
          color: var(--white);
          padding: 0.2rem 0.5rem;
          font-size: 0.9rem;
          border-radius: 4px;
          margin: 0 0.5rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }

      .editBtnName {
        background: none;
        padding: 0.1rem 0.4rem;
        border-radius: 4px;
        border: 1px solid var(--pink-800);
        color: var(--pink-800);
        transition: all 0.3s ease-in-out;

        &:hover {
          filter: brightness(0.9);
        }
        svg {
          font-size: 1.3rem;
        }
      }
    }
  }

  strong {
    color: var(--gray-100);
    span {
      color: var(--pink-800);
      font-weight: 500;
      margin-left: 0.3rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .divisor {
    border-top: 2px dashed #ccc;
    margin: 25px 0;
  }

  .embedVideo {
    margin-top: 3rem;
    height: 60vh;

    .player {
      max-width: 800px;
      width: 100% !important;
      z-index: 0;
      position: relative;
      margin: 0 auto;
      margin-bottom: 2rem;

      .insideVideoButton {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        .button {
          padding: 0 !important;
        }

        .buttonSize {
          height: fit-content;
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
      }

      .startTop {
        justify-content: start;
        height: auto;
      }
      .centerTop {
        justify-content: center;
        height: auto;
      }
      .endTop {
        justify-content: end;
        height: auto;
      }
      .startCenter {
        align-items: center;
      }
      .centerCenter {
        align-items: center;
        justify-content: center;
      }
      .endCenter {
        align-items: center;
        justify-content: end;
      }
      .startBottom {
        align-items: end;
      }
      .centerBottom {
        align-items: end;
        justify-content: center;
      }
      .endBottom {
        align-items: end;
        justify-content: end;
      }
    }

    .buttonVideo {
      display: flex;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 8px;
      }
    }
  }
}
