.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  padding-top: 2rem;

  .detailsVideo {
    display: flex;
    justify-content: space-between;

    input {
      background: #ddd;
      width: 50%;
      padding: 0.6rem;
      border-radius: 5px;
      border: 0;
      outline: 0;

      &::placeholder {
        color: var(--gray-100);
        font-size: 1rem;
      }
    }

    button {
      background: var(--black-800);
      color: var(--white);
      padding: 0.7rem 0.8rem;
      border-radius: 5px;
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .divisor {
    border-top: 2px dashed #ccc;
    margin: 25px 0;
  }

  .embedVideo {
    margin-top: 3rem;
    height: 60vh;

    .player {
      width: 100% !important;
      height: 100% !important;
      z-index: 0;

      p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}
