
  .inputColorContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.2rem 0.5rem;
    color: var(--black-800);
    background: #ddd;
  
    .inputColor {
      width: 25px !important;
      height: 25px;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid var(--black-800);
      z-index: 10;
    }
  
    .inputDisabled {
      position: absolute;
      right: 13px;
      width: 25px !important;
      height: 25px;
  
     .colors {
        width: 25px !important;
        height: 25px;
        background: none;
        border: none;
        border: 1px solid red;
        opacity: -1;

        border: 1px solid red;
      }
    }
  
      .colors::-webkit-color-swatch {
        border-radius: 50%;
        border: 2px solid var(--black-800);
      }
  }