// .backgroundDashboard {
//   background: var(--white);
//   height: 100vh;
//   padding: 10px;

//   // .container {
//   //   width: 100%;
//   //   height: 100%;
//   //   display: grid;
//   //   grid-template-columns: 260px 1fr;
//   //   gap: 0.7rem;

//   //   main {
//   //     background: var(--gray-200);
//   //     border-radius: 5px;
//   //   }
//   // }
// }

// .backgroundDashboardDimanicHeight {
//   background: var(--white);
//   height: auto;
//   padding: 10px;

//   .container {
//     width: 100%;
//     height: 100%;
//     display: grid;
//     grid-template-columns: 260px 1fr;
//     gap: 0.7rem;

//     main {
//       background: var(--gray-200);
//       border-radius: 5px;
//     }
//   }
// }

.sideBar {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0.5rem;
  margin-bottom: 20px;

  .container {
    border: 3px solid #ccc;
    border-radius: 5px;
    height: 98.2%;
  }
}

.main {
  background: var(--gray-200);
  margin: 0.6rem;
  margin-left: calc(260px + 1.2rem);
  border-radius: 5px;
  min-height: 98vh;
}
