.watchAgain {
  background: #ddd;
  padding: 10px;

  hr {
    color: #a3a2a2;
    margin: 1.5rem 0;
  }

  .textStyles {
    p {
      color: #191919;
      margin: 1rem 0;
    }

    textarea,
    input {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #a3a2a2;
    }
  }

  span {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .colors {
      width: 25px !important;
      height: 25px;
      background: none;
      border: none;
    }

    .colors::-webkit-color-swatch {
      border-radius: 50%;
      border: 2px solid var(--black-800);
    }
  }
  .saveOrCancel {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    button {
      font-size: 0.875rem;
      padding: 0.2rem 0 0 0;
      margin: 0;
      font-weight: normal;
      justify-content: center;
      color: #fff;
      background: var(--pink-800);

      &:hover {
        filter: brightness(0.9);
        transition: 0.2s;
      }

      &:first-child {
        background: transparent;
        border: 1px solid #191919;
        color: #191919;

        &:hover {
          color: var(--pink-800);
          border: 1px solid var(--pink-800);
          transition: 0.2s;
        }
      }
    }
  }
}
