.modal {
  // position: relative;
  width: 60%;
  background: var(--white);
  height: auto;
  position: relative;
  padding: 1rem;

  @media (max-width: 768px) {
    width: 90%;
  }
  .closeModal {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
    color: var(--black-800);
    opacity: 0.5;
    transition: 0.5s;
    font-size: 1.5rem;
    background: transparent;

    &:hover {
      opacity: 1;
    }
  }

  .positionButton {
    margin-bottom: 1rem;
    p {
      margin-bottom: 0.5rem;
    }

    div {
      max-width: 80px;
      display: grid;
      gap: 0.2rem;
      grid-template-columns: 1fr 1fr 1fr;

      span {
        width: 20px;
        height: 20px;
        border: 1px solid var(--gray-200);
        border-radius: 3px;
        background: transparent;
        cursor: pointer;
      }

      .active {
        background: var(--pink-800);
        opacity: 0.5;
      }
    }
  }

  .typeButton {
    margin-bottom: 2rem;
    p {
      font-size: 0.875rem;
      color: var(--gray-100);
    }

    div {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin: 1rem 0;

      button {
        font-weight: 500;
        color: var(--black-800);
        background: none;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;

        &:hover {
          color: var(--pink-800);
        }
      }
    }
    .activeButton {
      border-bottom: 3px solid var(--pink-800);
      color: var(--pink-800);
    }
  }

  .propsButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;

    div {
      input,
      select {
        width: 100% !important;
        outline: none;
        height: 2rem;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding-left: 0.5rem;
        font-size: 0.875rem;
      }
    }
  }

  .linkButton {
    margin-top: 1rem;
    input {
      width: 100% !important;
      outline: none;
      height: 2rem;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding-left: 0.5rem;
      font-size: 0.875rem;
    }
  }

  .divisor {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    margin: 2.5rem 0 1.5rem;
  }

  .timerButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;

    div {
      input {
        width: 100% !important;
        outline: none;
        height: 2rem;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding-left: 0.5rem;
        font-size: 0.875rem;
      }
    }
  }

  .customButton {
    margin-top: 1rem;
    textarea {
      width: 100% !important;
      outline: none;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding-left: 0.5rem;
      font-size: 0.875rem;
      padding: 0.3rem 0.5rem;
    }
  }

  .timerStart {
    padding-top: 5px;
    width: auto;

    div {
      z-index: 1;
      display: flex;
      height: 250px;
      width: 40%;
      background: #fff;
      position: absolute;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 5px;
      max-height: 200px;
      overflow: hidden;
    }
    ul {
      flex: 1 0 auto;
      margin: 0;
      padding: 0;
      text-align: left;
      list-style: none;

      &:hover {
        overflow-y: auto;
      }

      li {
        border: 1px solid rgb(241, 240, 240);
        padding: 5px;
        text-align: center;
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }

  .colorsButton {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    div {
      justify-content: center;
      display: flex;
      gap: 0.5rem;

      input[type="color"] {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 2px solid transparent;
      }
    }
  }

  .previewButton {
    p {
      color: var(--black-800);
    }
    div {
      display: grid;
      justify-content: center;
    }
    button {
      width: 200px;
    }

    .belowVideo {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  }

  .saveOrCancel {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 1rem;
    justify-content: flex-end;
    button {
      font-size: 0.875rem;
      padding: 0.2rem 0 0 0;
      margin: 0;
      font-weight: normal;
      justify-content: center;
      border-radius: 5px;
      color: #fff;
      background: var(--pink-800);

      &:hover {
        filter: brightness(0.9);
        transition: 0.2s;
      }

      &:first-child {
        background: transparent;
        border: 1px solid #191919;
        color: #191919;

        &:hover {
          color: var(--pink-800);
          border: 1px solid var(--pink-800);
          transition: 0.2s;
        }
      }
    }
  }
}

.buttons {
  background: #ddd;
  padding: 10px;
  button {
    margin: 1rem 0;
    padding: 0.3rem !important;
    justify-content: center;
    color: #fff !important;
    background: var(--pink-800) !important;
    font-weight: normal !important;
    font-size: 0.875rem;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.checkContainer {
  display: block;
  position: relative;
  right: 0;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    font-weight: normal;
  }
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;

  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #ff003c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0.2rem 0.5rem;
  color: var(--black-800);
  gap: 0.5rem !important;

  label {
    font-size: 14px;
  }

  .inputColor {
    width: 25px !important;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--black-800);
    z-index: 10;
  }

  .inputDisabled {
    position: absolute;
    right: 13px;
    width: 25px !important;
    height: 25px;

    .colors {
      width: 25px !important;
      height: 25px;
      background: none;
      border: none;
      border: 1px solid red;
      opacity: -1;
    }
  }

  .colors::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid var(--black-800);
  }
}

.controls {
  padding: 10px;
  background: #dddc;
  margin-bottom: 0.5rem;

  p {
    font-size: 16px;
    margin-top: 0.2rem;
    font-weight: bold;
    color: #191919;
  }

  span {
    display: flex;
    justify-content: space-between;
    // margin-top: 0.3rem;

    input:before {
      background: var(--pink-800);
      color: red;
      border: 2px solid red !important;
    }
  }
}
